<div class="rows">
    <div class="column">
        <ul *ngFor="let item of abierto" >

            <li>
                <button class="nota" id="abierto">
                    <span id= "titulo" > {{item.titulo}} </span>
                    <span> {{item.descripcion}} </span>
                </button>
                <button class="delete">
                    X
                </button>
            </li>
        </ul>
        

    </div>
    <div class="column">
        <ul *ngFor="let item of en_proceso" >
            <li>
                <button class="nota" id="en_proceso">
                    <span id= "titulo" > {{item.titulo}} </span>
                    <span> {{item.descripcion}} </span>
                </button>
                <button class="delete">
                    X
                </button>
            </li>
        </ul>
    
    </div>
    <div class="column">
        <ul *ngFor="let item of cerrado" >
            <li>
                <button class="nota" id="cerrado">
                    <span id= "titulo" > {{item.titulo}} </span>
                    <span> {{item.descripcion}} </span>
                </button>
                <button class="delete">
                    X
                </button>
            </li>
        </ul>
    
    
    </div>

</div>


<!-- Boton Actualizar en el footer -->
<footer>
    <button class="actualizar" [routerLink]="['/vernota']" routerLinkActive="router-link-active" > + Adicionar </button>
</footer>