.actualizar {
    background-color: white; 
    border: 1px solid black;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    box-shadow: 0 6px 8px 0 lightgray
}

ul{
    list-style-type: none;
    padding-right: 5px;
    padding-left: 0px;
    
}

.nota{
    background-color: white;
    border: 1px solid black;
    padding : 0px;
    width: 80%;
}

.nota span{
    text-align: left;
    display: block;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 100px;
    font-size: 12px;
}

.delete{
    background-color: white; 
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.delete:hover{
    background-color: red;
    color: white;
}

#titulo{
    font-weight: bold;
    font-size: 15px;
}

.column {
    float: left;
    width: 30%;
}
  
/* Clear floats after the columns */
.rows:after {
    content: "";
    display: table;
    clear: both;
}

#abierto{
    border: 1px solid black;
    padding : 0px;
    width: 80%;
    background-color: lightsalmon;
    
}
#cerrado{

    border: 1px solid black;
    padding : 0px;
    width: 80%;
    background-color: mediumseagreen;

}
#en_proceso{
    background-color: palegoldenrod;
    border: 1px solid black;
    padding : 0px;
    width: 80%;

}

footer{
    width: 13em;
    margin:auto;
    padding-top:1em;
}