
<!-- aqui va el formulario-->
 
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" accept-charset="utf-8" novalidate>

  <section>
    Título
    <p><input type="text" formControlName="titulo" size="40" required></p>

    Estado
    <p id ="Estado">
      <input list="estados" formControlName="estado" rows="3" cols="30" required>
      <datalist id="estados">
        <option value="En Proceso">
        <option value="Abierto">
        <option value="Cerrado">
      </datalist>
    </p>

    Descripción 
    <p> 
      <textarea id="descripcion" formControlName="descripcion" rows="5" cols="22" required> </textarea>
    </p>

  </section>

  <p id= "submits" >
    <input type="submit" value="Actualizar" [disabled] = "formulario.invalid">
  </p>

</form>

<script>
      document.addEventListener('DOMContentLoaded', ()=>{
            document.getElementById('submits').addEventListener('click', addNota);
</script>

