p {
    margin: 0;
    margin-bottom: 20px;
}

section input[type=text]{
    width: 100%;
    height: 18px;
}

section textarea{
    width: 100%;
    height: 180;
}

#submits{
    text-align: right;
}

form{
    width: 25%;
    margin: 10px;
}