
<!-- aqui va el formulario-->
 
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" accept-charset="utf-8" novalidate>

  <section>
    Título
    <p><input type="text" formControlName="nombre" size="40" required></p>

    Estado
    <p id ="Estado">
      <input list="estados" name="estados_list" rows="3" cols="30">
      <datalist id="estados">
        <option value="En Proceso">
        <option value="Abierto">
        <option value="Cerrado">
      </datalist>
    </p>

    Descripción 
    <p> 
      <textarea id="descripcion" name="descripcion_box" rows="5" cols="22"> </textarea>
    </p>

  </section>

  <p id= "submits" >
    <input type="submit" value="Actualizar" [disabled] = "formulario.invalid">
  </p>

</form>